<ion-content fullscreen no-bounce has-bouncing="false" forceOverscroll="false">
    <ion-header>
        <ion-toolbar>
            <ion-searchbar #searchbarElem [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
            <ion-buttons slot="end">
                <ion-button (click)='openLanguagePopover($event)'>
                    <ion-icon color='primary' slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>


    <ion-button #myButton expand="block" fill="clear" shape="round">
        Click me
    </ion-button>

    <ion-list>
        <ion-item *ngFor="let data of jsonData">
            {{data.name}}
        </ion-item>
    </ion-list>


    <!-- <form [formGroup]="waitersForm">
        <ion-list formArrayName="waitersList">
            <ion-item-sliding [formGroupName]="i" *ngFor="let item of formData.controls; let i = index">
                <ion-item>
                    <ion-row>
                        <ion-col class='form-col' size="6">
                            <ion-label class="ion-text-wrap" position='floating'>Name:</ion-label>
                            <ion-input type="text" formControlName="name"></ion-input>
                            <ion-text class='validation-text' color='danger'
                                *ngIf="errorCtr.controls[i].get('name')?.touched && errorCtr.controls[i].get('name')?.hasError('required')">
                                The name field is required.
                            </ion-text>
                        </ion-col>
                        <ion-col class='form-col buttons-col' size="3">
                            <ion-button expand="block" (click)="addPoints(i)"
                                *ngIf="!errorCtr.controls[i].get('points')?.valid && !errorCtr.controls[i].get('points')?.touched;">
                                Add Points
                            </ion-button>
                            <ion-button expand="block" (click)="addPoints(i)" color='success'
                                *ngIf="errorCtr.controls[i].get('points')?.valid && errorCtr.controls[i].get('points')?.touched;">
                                {{ getPointValue(i).value }}
                            </ion-button>
                        </ion-col>
                        <ion-col class='form-col buttons-col' size="3">
                            <ion-button expand="block" (click)="addHours(i)"
                                *ngIf="!errorCtr.controls[i].get('hours')?.valid && !errorCtr.controls[i].get('hours')?.touched;">
                                Add Hours
                            </ion-button>
                            <ion-button expand="block" (click)="addPoints(i)" color='success'
                                *ngIf="errorCtr.controls[i].get('hours')?.valid && errorCtr.controls[i].get('hours')?.touched;">
                                {{ getHoursValue(i).value }}
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="remove(i)" color='danger'>
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </form> -->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color='warning' (click)='add()'>
            <ion-text color="light">
                Reset
            </ion-text>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)='add()'>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button [disabled]='!waitersForm.valid' (click)="submitForm()" expand="block" fill="solid" shape="round">
            Post form
        </ion-button>
    </ion-toolbar>
</ion-footer>