<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title> Setup </ion-title>
            <ion-buttons slot="start">
                <ion-button (click)='home()'>
                    <ion-icon color='primary' slot="icon-only" name="home"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <!-- <ion-col size="12">
        <ion-button tooltip="I'm a beautiful tooltip" positionH="left" positionH="right" [arrow]="showArrow" [event]="tooltipEvent" [debounce]="debounce" [duration]="duration" fill="outline">View</ion-button>
    </ion-col> -->
    <ion-grid>
        <form #myForm [formGroup]="waitersForm" novalidate>
            <div formArrayName="waitersList">
                <ion-card [formGroupName]="i" *ngFor="let item of formData.controls; let i = index">
                    <ion-card-header>
                        <ion-row class='ion-text-center'>
                            <ion-col size="12" *ngIf='i === 0; else removeTemplate'>
                                <ion-card-title>
                                    <ion-item>
                                        <ion-label for='name' position="floating">Name</ion-label>
                                        <ion-input class='border' type="text" maxlength="50" formControlName="name"
                                            (ionBlur)='ionLosesFocus($event, i)'>
                                        </ion-input>
                                    </ion-item>
                                    <ion-item class='text-validation' lines="none"
                                        *ngIf="errorCtr.controls[i].get('name')?.touched && errorCtr.controls[i].get('name')?.hasError('required')">
                                        <ion-text color='danger'>
                                            Add a name
                                        </ion-text>
                                    </ion-item>
                                </ion-card-title>
                            </ion-col>
                            <ng-template #removeTemplate>
                                <ion-col size="9">
                                    <ion-card-title>
                                        <ion-item>
                                            <ion-label for='name' position="floating">Name</ion-label>
                                            <ion-input class='border' type="text" maxlength="50" formControlName="name"
                                                (ionBlur)='ionLosesFocus($event, i)'>
                                            </ion-input>
                                        </ion-item>
                                        <ion-item class='text-validation' lines="none"
                                            *ngIf="errorCtr.controls[i].get('name')?.touched && errorCtr.controls[i].get('name')?.hasError('required')">
                                            <ion-text color='danger'>
                                                Add a name
                                            </ion-text>
                                        </ion-item>
                                    </ion-card-title>
                                </ion-col>
                                <ion-col class='remove-btn-col' size="3">
                                    <ion-button size="small" (click)="removeWaitersField(i)" color='danger'
                                        fill="outline">
                                        Remove
                                    </ion-button>
                                </ion-col>
                            </ng-template>

                        </ion-row>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-row class='ion-text-center'>
                            <ion-col size="6">
                                <ion-list>
                                    <ion-item lines="none">
                                        <ion-button (click)="presentAlertRadio(i)" fill="outline">
                                            <ion-text color="primary">
                                                Points
                                            </ion-text>
                                        </ion-button>
                                    </ion-item>
                                    <ion-item lines="none" *ngIf='displayPoints[i]'>
                                        <ion-text color="primary">
                                            {{ displayPoints[i] }}
                                        </ion-text>
                                    </ion-item>
                                    <ion-item class='text-validation' lines="none">
                                        <ion-text color='danger'>
                                            <!-- {{ pointsErrors | json }} -->
                                        </ion-text>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                            <ion-text color='danger' *ngIf='this.pointsErr(i).errors.required'>
                                add points
                            </ion-text>
                            <ion-text color='danger' *ngIf='this.pointsErr(i).valid === false'>
                                add points
                            </ion-text>
                            <ion-col size="6">
                                <ion-item lines="none">
                                    <ion-button (click)="showPicker(i)" fill="outline">
                                        <ion-text *ngIf="!displayHours[i]" color="primary">
                                            Hours
                                        </ion-text>
                                        <ion-text *ngIf='displayHours[i]' color="primary">
                                            {{ displayHours[i] }}
                                        </ion-text>
                                    </ion-button>
                                </ion-item>
                                <ion-item class='text-validation' lines="none">
                                    <ion-text color='danger'>
                                        Add hours
                                    </ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>

                </ion-card>
            </div>
        </form>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar color='secondary'>
        <ion-grid class='footer-grid'>
            <ion-row>
                <ion-col size="2">
                    <ion-button color='danger' size="small" (click)='formReset()'>
                        <ion-icon color='light' slot="icon-only" name="compass"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="8">
                    <ion-button size="small" expand="block" (click)='runValidation()'>
                        <ion-text color="light">
                            Next
                        </ion-text>
                    </ion-button>
                </ion-col>
                <ion-col size='2'>
                    <ion-button size="small" (click)='addNewWaitersField()'>
                        <ion-icon color='light' slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>