// Fix keyboard pushing content up
.scroll-content {
    padding-bottom: 0 !important;
}
//
ion-row.ion-col{
    height: 100%;
}
ion-col.form-col {
    ion-text.validation-text {
        font-size: 12px;
    }
}
ion-col.buttons-col {
    display: flex;
    justify-items: center;
    align-items: center;
    ion-button {
        width: 100%;
        height: 50px;
    }
}