<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title>
                Calculator
            </ion-title>
            <ion-buttons slot="start">
                <ion-button (click)='back()'>
                    <ion-icon color='primary' slot="icon-only" name="arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class='tips-headers'>
                    <ion-item>
                        <ion-label for='inputTipsToday'> £ </ion-label>
                        <ion-input name='inputTipsToday' type="number" placeholder="How much today?"
                            [(ngModel)]='inputTipsToday'></ion-input>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class='names-row ion-margin'>
            <ion-card>
                <ion-col size="3">
                    <ion-text color="dark"> Name </ion-text>
                </ion-col>
                <ion-col size="3">
                    <ion-text color="dark"> Points </ion-text>
                </ion-col>
                <ion-col size="3">
                    <ion-text color="dark"> Hours </ion-text>
                </ion-col>
                <ion-col size="3">
                    <ion-text color="dark"> Tips Made </ion-text>
                </ion-col>
            </ion-card>
        </ion-row>

        <ion-row class='ion-margin waiters-array ion-text-wrap' *ngFor='let item of globalWaitersArray; let i = index'>
            <ion-card>
                <ion-col size="3">
                    <ion-text color="dark"> {{ item.name }} </ion-text>
                </ion-col>
                <ion-col size="3">
                    <ion-text> {{ item.points }} </ion-text>
                </ion-col>
                <ion-col size="3">
                    <ion-text> {{ item.hours }} </ion-text>
                </ion-col>
                <ion-col size="3">
                    <ion-text> {{ item.tips_received | number:"1.1-2" }} </ion-text>
                </ion-col>
            </ion-card>
        </ion-row>

    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-button (click)="calculate()" *ngIf='!nextValid' expand="block" fill="solid" color='success'
                        shape="round">
                        Calculate
                    </ion-button>
                </ion-col>
                <ion-col size="12">
                    <ion-button (click)="next()" *ngIf='nextValid' expand="block" fill="solid" color='primary'
                        shape="round">
                        Next
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>