<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Summary
      </ion-title>
      <ion-buttons slot="start">
        <ion-button (click)='back()'>
          <ion-icon color='primary' slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid class='ion-margin ion-padding ion-text-center'>
    <ion-row class='row-tips'>
      <ion-card>
        <ion-col>
          <ion-text color="dark">
            Total of this shift: {{ totalTipsMade }}
          </ion-text>
        </ion-col>
      </ion-card>
    </ion-row>
    <ion-row *ngFor="let item of waitersArray">
      <ion-card>
        <ion-col class='card-col' size='3'>
          {{ item.name }}
        </ion-col>
        <ion-col class='card-col' size='3'>
          <p> {{ item.points }} </p>
        </ion-col>
        <ion-col class='card-col' size='3'>
          <p>{{ item.hours }}</p>
        </ion-col>
        <ion-col class='card-col' size='3'>
          <p>{{ item.tips_received | number:"1.1-2" }}</p>
        </ion-col>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="home()" expand="block" fill="solid" shape="round">
      Home
    </ion-button>
  </ion-toolbar>
</ion-footer>